<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LAN File Sharing</title>
    <meta name="keywords" content="LAN file share">
    <meta name="description" content="LAN file sharing tool website. 局域网文件共享网站">
    <link rel="stylesheet" href="https://cdn.staticfile.org/mdui/0.4.3/css/mdui.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/mdui/0.4.3/js/mdui.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/main.js"></script>
</head>
<body>
