<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="mdui-container">
    <div class="mdui-card" style="margin-top: 16px">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">filename</div>
            <div class="mdui-card-primary-subtitle">
                <span>time</span>
                <span>uploader</span>
                <span>download number</span>
            </div>
        </div>
        <div class="mdui-card-content">
            description
        </div>
        <div class="mdui-card-actions">
            <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">cloud_download</i></button>
            <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">thumb_down</i></button>
            <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">thumb_up</i></button>
        </div>
    </div>


</div>
<%- include('./partials/footer') %>
